/****************************SLIDER*******************************************************/
#s3slider {
    width: 400px; /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
}
 
#s3sliderContent {
    width: 400px; /* important to be same as image width or wider */
    position: absolute; /* important */
    top: 0; /* important */
    margin-left: 0; /* important */
}
 
.s3sliderImage {
    float: left; /* important */
    position: relative; /* important */
    display: none; /* important */
}
 
.s3sliderImage span {
    position: absolute; /* important */
    left: 0;
    font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 374px;
    background-color: #000;
    filter: alpha(opacity=70); /* here you can set the opacity of box with text */
    -moz-opacity: 0.7; /* here you can set the opacity of box with text */
    -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
    opacity: 0.7; /* here you can set the opacity of box with text */
    color: #fff;
    display: none; /* important */
    top: 0; /*
        if you put top: 0;  -> the box with text will be shown 
                                at the top of the image
        if you put bottom: 0;  -> the box with text will be shown 
                                at the bottom of the image
    */
}
 
.clear {
    clear: both;
}

/****************************SITNE********************************************************/
.baner{border: 1px solid; border-color: #000; margin:5px 0 5px 0}
.otkazano{
	color:#F00;
	}
.border{
	border:medium; border-color:#000; border-style:solid;
	}
p {
	margin:0; padding: 0; 
	/*width:510px;dodao dusan kao privremeno resenje, al sam ga ipak ugasio, posto je pravilo prbleme*/
	}/*zbog tinyMCE editora*/
#verticalMiddle {
	padding-top: 8px;
}
#reklama{
	background-color:transparent:
	width:150px;
	height:5px;}
body {
	color: #666;
	margin: 0 30px;
	padding: 0;
	background:#FFFFFF;
	font: 13px/20px Arial, Helvetica, sans-serif;
	text-align: center;
}
#menu{float:left; width:180px; padding-right:50px; height:1300px;}
.clear {
    clear: both;
    height:0px;
    width:0px;
    overflow:hidden;
}
.content-item {background-color: #fff;border-bottom:3px solid #cbcac6; width:458px;margin-bottom:10px;padding-bottom:10px;}
.content-item-640 {background-color: #fff;border-bottom:3px solid #cbcac6; width:670px;margin-bottom:10px;padding-bottom:10px;}
.content-item-photo	 {float:left; border:0px; padding:5px 5px 5px 0px; width: 150px; height:inherite}
.content-item-photo-right {float:right; border:0px; padding:0px 5px 5px 0px; width: 150px; height:inherite}
.content-item-photo img	{width: 150px; border:0px;}
.content-item-photo-right img {width: 150px}
.content-item-content { width:280px; padding-top:1px; margin:0 10px; float:right}
.content-item-content-430 { width:470px; margin:0 10px; float:right}
.content-item-content-430 a:link { text-decoration:underline;}
.content-item-content-430-left { width:430px; margin:0 10px; float:left}
.glavniNaslov {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
}
#nazivRedakcije {
	padding-left:5px;
	float: left;
	padding-top: 135px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#8c8c8c;
}
.datum{
	padding:5px;
	font-size:16px;
	color:#000;
	background-color:#999;
}
.potpis {
	float:right;
	margin-left:10px;
}
#sli {
	float:right;
}
strong {
	font-weight:bold !important;
	color:#000 !important;
}
em {
	font-style:italic;
}
a {
	color: #666666;
}
a:hover {
	color: Black;
	font-style: normal;
}

h1 {
	color: #000000;
	font: bold 13px/20px Arial, Helvetica, sans-serif;
}
strong{color: #000000;
	font-weight: bold;
}
#content {
	width: 900px;
	text-align: left;
	margin: 0 auto;
	overflow:hidden;
}
#header {
	width: 900px;
	height: 100px;
	overflow: auto;
}
#image {
	width: 670px;
	float: left;
	padding-bottom:2px;
	text-align: right;
	}
#title {
	padding-bottom: 22px;
}
#vesti {
	float: right; 
	width: 175px; 
	background-color:#fff;
	color:#666;
	padding: 12px 0px 15px 0px;
}
#vesti a:hover{
	color:#666;
	}
/**************************************************************         Main         *****************************************/
#main {
	float: right;
	width: 460px;
	margin-right:30px;
	padding: 12px 5px 30px 0px;
	color: #666;
	font: 13px/19px Arial, Helvetica, sans-serif;
	text-align: left;
	margin-bottom:10px;
}
#main a:link {
	text-decoration: underline;
	color: #666;
}
#main ul {
	margin: 20px 25px;
	list-style-type: square;
	list-style-position: outside;
}
#main ol {
	margin: 20px 25px;
	list-style-type: decimal;
	list-style-position: outside;
}
#main li {
	margin: 5px 0;
}
#mainBig {
	float: right;
	width: 670px;
	padding: 15px 0px 30px 0px;
	color: #666;
	font: 13px/19px Arial, Helvetica, sans-serif;
	text-align: left;
	margin-bottom:10px;
}
.remark {
	color: #F00;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
#bob a:link{
	text-decoration:none
}
#footer {
	background-color:#FFF;
	margin: 20px 0px 100px 150px;
	width:800px;
	/*margin:0 auto;*/
	clear: both;
	
	font: 11px/16px Arial, Geneva, sans-serif;
	position:relative;	
}
/**********************************************************       ZA GALERIJU     ***************************************/
    div.img {
	margin:2px;
	border:2px solid #0000ff;
	height:210px;
	width:210px;
	float:left;
	text-align:center;
	text-decoration:none;
}
div.img img {
	display:inline;
	margin:3px;
	border:2px solid #000;
}

div.desc {
	text-align:center;
	font-weight:normal;
	width:180px;
	margin:2px;
}

.opsirnije{
			font-weight:bold;
			font-style:italic;
			}
.opsirnije a:link{text-decoration:none!important;}
.opsirnije a:hover{
				text-decoration:underline!important;
				font-style:italic;
					}
