.cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:central;
	}
.cssmenu ul{
	background:#fff;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	
	}
.cssmenu li{
	float:left;
	padding:0px;
	}
.cssmenu li a{
	background:#fff; 
	color:#333;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 24px 0px 23px;
	text-align:right;
	text-decoration:none;
	}
.cssmenu li a:hover, .cssmenu ul li:hover a{
	background:#CCC;
	color:#333;
	text-decoration:none;
	}
.cssmenu li ul{
	background:#fff;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:125px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
.cssmenu li:hover ul{
	display:block;
	
	}
.cssmenu li li {
	background:url('images/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:125px;
	}
.cssmenu li:hover li a{
	background:none;
	
	}
.cssmenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
.cssmenu li ul a:hover, .cssmenu li ul li:hover a{
	background:#ccc ;
	border:0px;
	color:#333;
	text-decoration:none;
	}
.cssmenu p{
	clear:left;
	}
.heder_top_left{
	float: left; width: 200px; height:100px;
	}
.heder_bottom_left{
	float: left;
	width:50px;
	padding-top: 60px;
	padding-left: 30px;
}
.heder_top_right{
	width:400px; 
	height: 50px;
	float:right; 
	vertical-align:top
}	
.heder_bottom_right{
	float: right;
	height: 50px;
	width: 605px;
}